# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vs
# Visual Studio 관련 불필요한 파일들
*.log
*.pdb
*.idb
*.obj
*.suo
*.user
*.ncb
*.sdf
*.opensdf
*.ipch
*.tlog
*.lastbuildstate

